<% provide :title, "Login" %>

<div id="login">
	<div class="col-sm-6 col-sm-offset-3">
		<h1 class="text-center">Please login</h1>

		<%= form_for :session, url: login_path , class: "form" do |f| %>
			<div class="form-group">
				<div class="input-group input-group-lg">
		      <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
		      <%= f.text_field :name, class: "form-control", placeholder: "Login name" %>
		    </div>
		  </div>

		  <div class="form-group">
				<div class="input-group input-group-lg">
		      <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
		      <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
		    </div>
		  </div>

		  <br>

		  <div class="form-group">
				<%= f.submit "Login", data: { disable_with: 'Logining...' }, class: "btn btn-primary btn-block btn-lg" %>
		  </div>
		<% end %>
	 </div>
</div>
