$purple: #563d7c;

$navbar-inverse-bg: $purple;
$navbar-inverse-link-color: #fff;
$btn-primary-bg: $purple;
$input-border-focus: $purple;



// import the CSS framework
@import "bootstrap";

// body
body {
  background-color: #eee;
}

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: 20px;
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }


// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  min-height: 400px;
  background-color: #fff;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
  .text-purple {
    color: $purple;
  }
  h1 {
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
  }
  #index_page {
    margin-top: 80px;
    h1 {
      font-size: 100px;
      border-bottom: none;
      color: $purple;
    }
    p {
      font-size: 30px;
      padding: 20px 0;
      color: #cdbfe3;
    }
    .btn-index {
      color: $purple;
      border: 2px solid $purple;
      margin: 20px 0;
      padding: 15px 18px;
      &:hover, &:active {
        color: #fff;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        background-color: $purple;
      }
    }
  }
  .alert {
    margin-top: 10px;
    margin-bottom: 0;
  }
  #login {
    margin-top: 60px;
  }
  form {
    padding-top: 30px;
  }
  #sidebar {
    #search {
      margin-bottom: 10px;
    }
    ul{
      background-color: #f7f5fa;
      li.kind>a {
        padding: 15px 12px;
        color: $purple;
        border-left: 2px solid #f7f5fa;
        font-weight: bold;
        &:hover {
          background-color: #f7f5fa;
          border-left: 2px solid $purple;
        }
      }
      li.item>a {
        padding: 5px 12px 5px 30px;
        color: $purple;
        border-left: 1px solid #f7f5fa;
        &:hover {
          background-color: #f7f5fa;
          border-left: 1px solid $purple;
        }
      }
    }
  }
}
section {
  @extend .row;
  margin-top: 20px;
}


// footer
footer {
  padding: 20px 0;
  a {
    color: #000;
    &:hover, &:focus, &:active {
      color: #000;
    }
  }
}
