// import the CSS framework
@import "bootstrap";

// body
body {
  background-color: #eee;
}

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: 20px;
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }


// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  min-height: 500px;
  background-color: #fff;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
  #index_page {
    margin-top: 80px;
    h1 {
      font-size: 100px;
    }
    p {
      font-size: 30px;
      padding: 20px 0;
      color: #aaa;
    }
    .btn-index {
      color: #333;
      border: 3px solid #333;
      margin: 20px 0;
      padding: 15px 18px;
      &:hover, &:active {
        color: white;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        background-color: #333;
      }
    }
  }
  #messages {
    margin-top: 10px;
  }
  #login {
    margin-top: 60px;
  }
  form {
    padding-top: 40px;
    border-top: 1px solid #ccc;
  }
}
section {
  @extend .row;
  margin-top: 20px;
}


// footer
footer {
  padding-top: 20px;
  a {
    color: #000;
    &:hover, &:focus, &:active {
      color: #000;
    }
  }
}
