<p class="text-center">Designed by VincentJiang</p>
<p>
	<ul class="list-inline text-center">
		<li><i class="fa fa-github"></i> <a href="https://github.com/vincentjiang/ecoit">Github</a></li>
		<li><i class="fa fa-envelope-o"></i> <a href="mailto:jxs471494539@gmail.com?subject=ECO IT System">Contact me</a></li>
	</ul>
</p>