<p class="text-center"><i class="fa fa-heart" style="color: #f00;"></i> 为了您的网页最佳浏览体验，请下载 <a href="https://www.google.com/intl/zh-CN/chrome/browser/?hl=zh-CN&brand=CHMI" target="_blank"><i>Chrome</i></a> 作为浏览器</p>
<p>
	<ul class="list-inline text-center">
		<li><i class="fa fa-star" style="color: #f90;"></i> Designed by VincentJiang</li>
		<li><i class="fa fa-github"></i> <a href="https://github.com/vincentjiang/ecoit" target="_blank">Github</a></li>
		<li><i class="fa fa-envelope-o"></i> <a href="mailto:jxs471494539@gmail.com?subject=ECO IT System">Contact me</a></li>
	</ul>
</p>