<% if session[:user_id] %>
	<li><%= link_to '资产', root_path %></li>
	<li><%= link_to '文档', root_path %></li>
	<% if current_user.admin %>
		<li><%= link_to '用户', users_path %></li>
	<% end %>
<% end %>
<li><%= link_to '帮助', help_path %></li>