<% if session[:user_id] %>
	<li>
		<%= link_to edit_user_path(current_user), class: "show-tootip", "data-toggle" => "tooltip", "data-placement" => "bottom", title: "#{current_user.name}" do %>
			<i class="fa fa-user"></i>
		<% end %>
	</li>
	<li>
		<%= link_to logout_path, class: "show-tootip", "data-toggle" => "tooltip", "data-placement" => "bottom", title: "登出", data: { confirm: "退出系统？" } do %>
			<i class="fa fa-power-off"></i>
		<% end %>
	</li>
<% else %>
	<li>
		<%= link_to login_path, class: "show-tootip", "data-toggle" => "tooltip", "data-placement" => "bottom", title: "登录" do %>
			登录 <i class="fa fa-sign-in"></i>
		<% end %>
	</li>
<% end %>

<script type="text/javascript">
	$(function() {
	  // tooltip
	  $('.show-tootip').tooltip();

	});
</script>